@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  margin: 0px;
  padding: 0px;
}

body {
  color: black;
  background-color: #fbfbfb;
  font-size: 14px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

a {
  line-height: 23px;
  text-decoration: none;
}

p {
  margin: 0px;
}

/* ---------------------------HEADER------------------------------- */
#header-wrapper .navbar .logo-wrapper .navbar-brand {
  padding-top: 7px;
}

#header-wrapper .navbar .logo-wrapper .navbar-brand img {
  border-radius: 100px;
}

#header-wrapper .navbar .navbar-left li {
  text-transform: capitalize;
}

/* --------------------------MAIN---------------------------------- */
#body-container {
  min-height: 735px;
}

#main .header-page {
  margin-bottom: 20px;
}

#main .header-page h3 {
  margin-bottom: 20px;
}

#main .main-content-left .header-page .tips {
  background: #FF9;
  border: 1px solid #E6DB55;
  padding: 6px 10px;
  text-shadow: 0 1px white;
  font-size: 12px;
  display: block;
  min-height: 15px;
  margin-bottom: 5px;
}

#main .main-content-left .post-item {
  margin-bottom: 30px;
}

#main .main-content-left .post-item .info .title {
  margin-bottom: 20px;
}

.stats {
  margin-top: 10px;
  margin-bottom: 50px;
}

.stats .stats-item {
  float: left;
  margin-right: 20px;
}

.stats .likes .fa.fa-heart-o {
  font-size: 18px;
}

.stats .likes .fa.fa-heart {
  font-size: 19px;
  color: red;
}

.stats .views .fa-eye {
  font-size: 18px;
}

.stats .edit .fa.fa-edit {
  font-size: 18px;
}

.stats .delete .fa.fa-trash {
  font-size: 18px;
}

#main .main-content-left .post-item-detail .comments-wapper {
  margin-top: 30px;
  margin-bottom: 50px;
}

#main .main-content-left .post-item-detail .comments-wapper .comment-enter {
  margin-bottom: 20px;
}

#main .main-content-left .post-item-detail .comments-wapper .comment-item {
  margin-bottom: 5px;
}

.joke-wapper {
  border: 1px solid #eee;
  padding: 5px;
}

.joke-wapper a {
  color: black;
  text-decoration: none;
  line-height: 25px;
}

#main .main-content-right .post-hot-item {
  margin-bottom: 20px;
}

.alert.fade {
  padding: 10px;
}

#main .main-content-left .stats .edit  {
  margin-right: 10px;
}

#preview-image {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  width: 150px !important;
  height: 150px !important;
}

.comment-avatar {
  border-radius: 30px;
}

.comment-item {
  border-bottom: 1px solid #eeeeee;
}

.time-ago {
  color: #616770;
}

.comments-wapper #content-comment {
  border-radius: 10px;
}

.edit-input-comment {
  border-radius: 10px;
}

.comments-wapper .btn-primary, .btn-info {
  border-radius: 5px;
}

#error_explanation ul li {
  color: red;
}

.dropdown .action-more {
  font-weight: bold;
  font-size: 16px;
}

.comment-item .content {
  margin-right: 10px;
}

.comment-item .comment-item-content div {
  display: inline;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.list-meme-image .meme-item {
  margin-bottom: 50px;
}

.list-meme-image .meme-item h4 {
  margin-bottom: 10px;
}

.list-meme-image .meme-item p {
  margin-bottom: 10px;
}

.list-meme-image .meme-item img {
  border-radius: 2px;
}

.notification-dropdown #dropdownMenu1 {
  color: #9d9d9d;
  margin-top: 17px;
}

.load-more {
  margin-left: 40%;
}

.notification {
  list-style: none;
  margin-bottom: 10px;
}

.noti-time-ago {
  margin-left: 50px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.noti-img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.notification {
  background-color: #f5f5f5;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

.read-notification {
  background: red;
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
}

.devise-links a {
  float: left;
  margin-right: 20px;
}

#notification-dropdown #dropdownMenu1:hover {
  color: #fbfbfb;
  cursor: pointer;
}

#list-notification {
  top: 48px;
}

#show-profile .img-circle {
  border-radius: 10px !important;
}

.scrollbar {
  max-height: 500px;
  overflow-y: scroll;
}

#list-comments .content div {
  word-wrap: break-word;
}

// ======================== FOOTER ============================

#footer {
  line-height: 1.5em;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #222;
  border-color: #090909;
  color: #9d9d9d;
}
